.whole-page {
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

#rankings {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Stil für die Scrollbars in den Ranglistentabellen */
.ranking,
.w3-responsive {
  max-height: 600px;
  /* Passen Sie die max. Höhe nach Bedarf an */
  overflow-y: auto;
  /* Fügt eine vertikale Scrollbar hinzu, wenn nötig */
  margin-bottom: 16px;
  /* Für etwas Abstand nach unten */
}

/* Stellen Sie sicher, dass Tabellenköpfe sichtbar bleiben */
thead,
th {
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  z-index: 1;
  /* Hintergrundfarbe der Kopfzeile */
}

#checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* oder den gewünschten Abstand zwischen den Checkboxen */
}

.checkbox-group {
  flex-basis: calc(33% - 10px);
  /* passt die Breite für 3 pro Zeile an, abzüglich der Lücke */
  display: flex;
  align-items: center;
  /* Zentriert das Label vertikal mit der Checkbox */
}

.checkbox-label {
  margin-left: 5px;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.navbarbg {
  background-size: cover;
  /* Sorgt dafür, dass das Bild den Container vollständig abdeckt */
  background-position: center;
  /* Zentriert das Bild im Container */
  background-repeat: no-repeat;
  /* Verhindert das Wiederholen des Bildes */
  background-attachment: fixed;
  /* Das Bild bleibt beim Scrollen an der gleichen Stelle */


  height: 100vh;
  /* Setzt die Höhe auf 100% der Ansichtshöhe (viewport height) */
  width: 100vw;
  /* Setzt die Breite auf 100% der Ansichtsbreite (viewport width) */
}


.bgimg-1 {
  background-image: url('./image/image1.png');
  min-height: 100%;
}

.w3-bar .w3-bar-item:hover {
  background-color: teal !important;
  /* Setzt den Hintergrund auf Teal beim Hover */
  color: white !important;
  /* Setzt die Textfarbe auf Weiß beim Hover */
}

@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#donut-legend div {
  font-size: 12px; 
}

.image-container {
  text-align: center; /* Zentriert das Bild horizontal */
  /* Optional: Falls Sie Flexbox verwenden möchten */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-image {
  max-width: 100%; /* Stellt sicher, dass das Bild nicht breiter als sein Container ist */
  height: auto; /* Behält das Seitenverhältnis bei */
}

.lightbox-hidden {
  display: none;
}

#lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-content {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
